body {
    margin: 0;
    
}

container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAEBD7;
    padding: 8px 16px;
    border-color: rgb(10, 92, 164) ;
    padding-left: 300px;
    padding-right: 300px;

}

.logo {
    font-size: 30px;
    display: flex;
    flex-shrink: 0;

}

a {
    text-decoration: none;
    color: black;
}

ul.links {
    list-style-type: none;
    display: flex;
    gap:16px;
    flex-shrink: 0;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    background-color: #FAEBD7;
    padding-left: 300px;
    padding-right: 300px;
}

.title1 {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex-shrink: 0;
}

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 100px;
}

.img1 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
}


.info {
    display: flex;
    flex-direction: column;
}

.title2 {
    text-align: center;
    font-size: 36px;
    padding: 16px;
    margin-bottom: 16px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.quote {
    background-color: cadetblue;
    margin:16px;
    padding:24px;

}

.person {
    text-align: right;
}

.signup {
    background: brown;
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: center;
    margin: 30px 700px;
    gap: 50px;
    flex-shrink: 0;
}

.text {
    display: flex;
    flex-direction: column;
}

.text2 {
    font-size: 24px;
}

.footer {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}